#bg {
  /* background-image: url('./images/img1b.jpg'); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.537), transparent),
    url('./images/img1.jpg');
  box-shadow: inset 0 900px #0000003b;
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}
#text {
  margin-top: 120px;
}

/* FOR LAPTOP SCREEN */
@media only screen and (min-width: 800px) {
  #bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.537), transparent),
      url('./images/img1.jpg');
    /* background-image: url('./images/img1.jpg'); */
    /* box-shadow: inset 0 1000px #0000003b; */

    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  /* #links {
    display: none;
  } */
  /* #ham {
    display: none;
  } */
  #text {
    margin-top: 250px;
  }
  #abuja {
    width: 500px;
    height: 285px;
  }
  #port {
    width: 500px;
    height: 285px;
  }
  #owerri {
    width: 500px;
    height: 285px;
  }
  #calabar {
    width: 500px;
    height: 285px;
  }
  #lagos {
    width: 500px;
    height: 285px;
  }
  #enugu {
    width: 500px;
    height: 285px;
  }

  #container {
    padding: 60px;
    margin-top: 100px;
  }
  #phone {
    width: 700px;
    position: absolute;
    right: 0;
    margin-top: -400px;
  }
  #line {
    display: none;
  }
}
/* cbwbwd */
#app-store {
  max-width: 150px;
  margin-left: 25px;
  margin-bottom: -1px;
}
#app-btn {
  width: 180px;
  background-color: black;
  border: 1px solid white;
  border-radius: 10px;
  padding: 1px;
}
#apple {
  font-size: 30px;
  position: absolute;
  margin-top: 8px;
}
#play {
  width: 25px;
  position: absolute;
  margin-top: -35px;
  background-color: black;
  margin-left: 5px;
}
#play-btn {
  width: 180px;
  background-color: black;
  border: 1px solid white;
  border-radius: 10px;
  padding: 1px;
}
#play-text {
  max-width: 150px;
  margin-left: 25px;
  margin-bottom: -1px;
}
/* FOR IPAD */
@media screen and (min-width: 500px) and (max-width: 768px) {
  #app-store {
    max-width: 120px;
    margin-left: 25px;
    margin-bottom: -0px;
  }
  #app-btn {
    width: 150px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1px;
  }
  #apple {
    font-size: 30px;
    position: absolute;
    margin-top: 8px;
  }
  #play {
    width: 25px;
    position: absolute;
    margin-top: -35px;
    /* background-color: black; */
    margin-left: 2px;
  }
  #play-btn {
    width: 152px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1px;
    margin-left: 55px;
  }
  #play-text {
    max-width: 150px;
    margin-left: 25px;
    margin-bottom: -1px;
  }
  #container {
    padding: 45px;
  }
  #phone {
    width: 450px;
    position: absolute;
    right: 0;
    margin-right: -80px;
    margin-top: -310px;
  }
  #quick {
    display: flex;
    align-items: center;
    /* margin-left: -10px; */
  }
  #p {
    margin-left: -25px;
  }
}
@media screen and (min-width: 390px) and (max-width: 420px) {
  #play-btn {
    width: 152px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1px;
    margin-left: 120px;
  }

  #app-btn {
    width: 150px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1px;
    margin-left: 120px;
  }
  #container {
    min-height: 62vh;
  }
  #phone {
    margin-top: -200px;
  }
}
@media screen and (min-width: 350px) and (max-width: 360px) {
  #container {
    padding: 60px;
    min-height: 70vh;
    margin-top: 20px;
  }
  #phone {
    width: 400px;
    position: absolute;
    /* right: 0; */
    margin-top: -140px;
    margin-left: -30px;
  }
  #play-btn {
    width: 152px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1px;
    margin-left: 40px;
  }
  #app-btn {
    width: 150px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1px;
    margin-left: 40px;
  }
}
@media screen and (min-width: 427px) and (max-width: 429px) {
  #container {
    padding: 60px;
    min-height: 70vh;
    margin-top: 20px;
  }
  #phone {
    width: 400px;
    position: absolute;
    /* right: 0; */
    margin-top: -220px;
    margin-left: 25px;
  }
  #play-btn {
    width: 152px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1px;
    margin-left: 90px;
  }
  #app-btn {
    width: 150px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1px;
    margin-left: 90px;
  }
}
@media screen and (min-width: 375px) and (max-width: 376px) {
  #container {
    padding: 60px;
    min-height: 70vh;
    margin-top: 20px;
  }
  #phone {
    width: 400px;
    position: absolute;
    /* right: 0; */
    margin-top: -140px;
    margin-left: -5px;
  }
  #play-btn {
    width: 152px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1px;
    margin-left: 60px;
  }
  #app-btn {
    width: 150px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1px;
    margin-left: 60px;
  }
}
#buga {
  width: 200px;
}
/* #buuga {
  margin-top: 130px;
  margin-left: 50px;
} */

@media screen and (min-width: 300px) and (max-width: 768px) {
  #line {
    color: gray;
  }
}
